In [7]:
x=input("WHat is your name")
type(x)

WHat is your name hitesh

str

In [17]:
x=int(input())
y=int(input())
print("hitesh is {a} years old and his father is {b} years old.".format(a=x,b=y))

print("hitesh is {a} years old and his father is {b} years old.".format(a=x,b=y))
print("hitesh is {} years old and his father is {} years old.".format(x,y))

 24
 59

hitesh is 24 years old and his father is 59 years old.
hitesh is 24 years old and his father is 59 years old.
hitesh is 24 years old and his father is 59 years old.

In [19]:
#assignment op
x=16
print(x)
x+=10
print(x)
x-=4
print(x)
x/=2
print(x)
x%=4
print(x)
x//=12
print(x)
x**=2
print(x)

16
26
22
11.0
3.0
0.0
0.0

In [53]:
lst=[0,1,2,3,4,5,6,7,8]
print(len(lst))
print(lst[1:4])
print(lst[-1])
print(lst[len(lst)-1])
print(lst[len(lst)-5])
print(lst[0:8:2])
print(lst[::-1])
lst=lst[::-1]
print(lst[0:7])
lst.append(15)
print(lst)
lst.extend([16,17])
print(lst)
lst.insert(1,24)
print(lst)
lst.pop()
print(lst)
lst.remove(1)
print(lst)
print(lst.count(5))
#print(lst)
print(lst.index(5))
#print(lst)
print(lst.reverse())
#print(lst)
print(lst.sort(reverse=True))
print(lst)
print(lst.sort())
print(lst)
print(len(lst))
#print(lst)

9
[1, 2, 3]
8
8
4
[0, 2, 4, 6]
[8, 7, 6, 5, 4, 3, 2, 1, 0]
[8, 7, 6, 5, 4, 3, 2]
[8, 7, 6, 5, 4, 3, 2, 1, 0, 15]
[8, 7, 6, 5, 4, 3, 2, 1, 0, 15, 16, 17]
[8, 24, 7, 6, 5, 4, 3, 2, 1, 0, 15, 16, 17]
[8, 24, 7, 6, 5, 4, 3, 2, 1, 0, 15, 16]
[8, 24, 7, 6, 5, 4, 3, 2, 0, 15, 16]
1
4
None
None
[24, 16, 15, 8, 7, 6, 5, 4, 3, 2, 0]
None
[0, 2, 3, 4, 5, 6, 7, 8, 15, 16, 24]
11

In [197]:
#string
a="HELLO HITESH SANWAL RAM"
print(a)
#print(a[0:23:2])
print(a[0:23:])
print(a.replace(" ","_"))
x=a.split()
print(x)
x.extend(['stay ','positive'])
print(x)

HELLO HITESH SANWAL RAM
HELLO HITESH SANWAL RAM
HELLO_HITESH_SANWAL_RAM
['HELLO', 'HITESH', 'SANWAL', 'RAM']
['HELLO', 'HITESH', 'SANWAL', 'RAM', 'stay ', 'positive']

In [246]:
# loops
#factorial

x=int(input("enter the value for find factorial "))
for i in range (1 ,x):
    x=x*i
print("the factorial is",x)
def square(x):
    y = x**2
    return(y)
square(2)

enter the value for find factorial  5

the factorial is 120

4

In [ ]:
x= int(input("enter a no.:"))
def factorial(x):
    if x==1:
        return (1)
    else:
        return (x*fact(x-1))

In [258]:
x=int(input("enter a value to find factorial" )) 
def fact(x):
    for i in range(1,x):
        x=x*i
        print("\n",x)
fact(x)

enter a value to find factorial 7

 7

 14

 42

 168

 840

 5040